@font-face {
  font-family: "Geologica Thin";
  font-style:normal;
  src: url("https://static.lc-group.ru/fonts/Geologica/Geologica-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Geologica Semibold";
  font-style:normal;
  src: url("https://static.lc-group.ru/fonts/Geologica/Geologica-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Geologica Medium";
  font-style:normal;
  src: url("https://static.lc-group.ru/fonts/Geologica/Geologica-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Geologica Light";
  font-style:normal;
  src: url("https://static.lc-group.ru/fonts/Geologica/Geologica-Light.ttf") format("truetype");
}